/* 
    To have an image centered...
    	1. Add the class "center" to your image
    	2. Add the following code to your CSS file
*/

img.center {
    display: block;
    margin: 0 auto;
}


/* Center Image for Mobile Devices ONLY */

@media (max-width:450px){
    .about-us-body-img {
        margin: 0 auto;
        display: block;
        float: none;  /* OPTIONAL - Depends on Current Code */
        width: 100%;  /* OPTIONAL - Depends on Current Code */
    }
}