<div id="" class="shopify-section index-section">
<div class="page-width">

<div class="grid grid--uniform grid--view-items">
    
        <div class="grid__item .grid__item--featured-collections small--two-thirds medium-up--two-thirds">
          <div class="grid-view-item">


          </div>
        </div>
     
        <div class="grid__item .grid__item--featured-collections small--one-third medium-up--one-third">
          <div class="grid-view-item">


          </div>
        </div>

  </div>

</div>
</div>