/* CONTACT FORM 7 - PLACEHOLDER */
/* ::-webkit-input-placeholder { color: #999999; } */
/* :-moz-placeholder { color: #999999; } */ /* Firefox 18- */
/* ::-moz-placeholder { color: #999999; } */ /* Firefox 19+ */
/* :-ms-input-placeholder { color: #999999; } */
/* input:focus::-webkit-input-placeholder { color:transparent; } */
/* input:focus:-moz-placeholder { color:transparent; }  */ /* Firefox 18- */
/* input:focus::-moz-placeholder { color:transparent; }  */ /* Firefox 19+ */
/* input:focus:-ms-input-placeholder { color:transparent; }  */ /* oldIE ;) */
/* textarea:focus::-webkit-input-placeholder { color:transparent; } */
/* textarea:focus:-moz-placeholder { color:transparent; }  */ /* Firefox 18- */
/* textarea:focus::-moz-placeholder { color:transparent; }  */ /* Firefox 19+ */
/* textarea:focus:-ms-input-placeholder { color:transparent; }  */ /* oldIE ;) */