/* CONTACT FORM 7 - STYLING */

/*
NOTES
1. For every new row in HTML, please insert -- style="clear:both;" -- to the first tag (e.g. span, div, label, paragraph) of that new row.
2. Every label, paragraph, and/or div needs to have a span class. (e.g. class="column-span4")
*/

/* CONTACT FORM 7 - GENERAL */
input.wpcf7-form-control.wpcf7-submit {
    padding-right: 30px;
    padding-left: 30px;
}
.wpcf7-spam-blocked, .wpcf7-validation-errors {
    display: inline-block !important;
    border: 2px solid red !important;
    color: red;
}
span.wpcf7-not-valid-tip {
    display: block;
}
#responsive-form {
	max-width:1000px /*-- change this to get your desired form width --*/;
	margin:0 auto;
    width:100%;
}
.form-row {
	width: 100%;
}
.column-span1, .column-span2, .column-span3, .column-span4, .column-span-one-third, .column-span-two-thirds {
	float: left;
	position: relative;
	padding: 0.65rem;
	width:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.contact-form-minimal input[type=text], .contact-form-minimal input[type=tel], .contact-form-minimal input[type=url], .contact-form-minimal input[type=email], .contact-form-minimal input[type=number], .contact-form-minimal input[type=date], .contact-form-minimal input[type=range], .contact-form-minimal input[type=password], .contact-form-minimal select, .contact-form-minimal textarea, .form-message {
    margin-bottom: 0px;
}
textarea.wpcf7-form-control.wpcf7-textarea {
    height: 100px;
}
.wpcf7-select {
    height: 38px;
    width: 100%;
    min-width: 100px;
}
div.wpcf7-validation-errors {
    clear: both;
}

/* CONTACT FORM 7 - FORM COLOR */
input.wpcf7-form-control, textarea.wpcf7-form-control.wpcf7-textarea, select.wpcf7-form-control.wpcf7-select {
    background-color: transparent;
}

/* CONTACT FORM 7 - HIDE GREEN SUCCESS BOX */
div.wpcf7-response-output, div.wpcf7-validation-errors {
    display: none !important;
}
span.wpcf7-not-valid-tip {
    display: none;
}
input[aria-invalid="true"], select[aria-invalid="true"] {
    border-color: red;
    background-color: rgba(153,0,0,0.15);
}

/* CONTACT FORM 7 - RECAPTCHA */
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
    padding-left: 10px;
}
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha div {
    float: left;
    clear: both;
}

/* CONTACT FORM 7 - MEDIA QUERY */
@media only screen and (min-width: 48em) { 
	.column-span3 {
		width: 75%;
	}
	.column-span2 {
		width: 50%;
	}
	.column-span1 {
		width: 25%;
	}
    .column-span-two-thirds {
        width: 66.666%;
    }
    .column-span-one-third {
        width: 33.333%;
    }
}

/* CONTACT FORM 7 - ADDITIONAL */
/*
label {
    color: inherit;
}
*/
/*
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha iframe {
    border: 1px solid #e2e3e5;
    border-radius: 1px;
    height: 136px;
    margin: 0 -10px 0 0;
}
*/
