/* CUSTOM CODE */

/* HEADER */
/*
.site-header {
  background-color: #8b1f2f;
  color: white;

  a {
  	color: white;
  }
  
  .search-header, .search-header__submit {
    color: white;
  }
}

.site-header .site-nav__dropdown {
  
  a {
    color: #3d4246;
  }

}

.site-header__icons .btn--link, .site-header__icons .site-header__cart {
    color: white;
    font-size: 1em;
}
*/

/* FOOTER */
/*
.site-footer {
    background-color: #8a202f;
    color: white;
    margin: 55px 0 0 0;
    border-top: solid 1px #e8e9eb;
  	padding-bottom: 50px;
    text-align: center;
  
  	a {
  		color: white;
  	}
}
*/
.site-footer {
	border-top: solid 1px #e8e9eb;
}

/* FOOTER */
.site-footer {
    margin: 55px 0 30px 0;
}
.site-footer__social-icons, .site-footer__copyright {
    margin-top: 30px;
}
.site-footer__linklist, .site-footer__newsletter {
    font-size: 14px;
}
.site-footer__linklist-item a {
    font-weight: bold;
}

/* FOOTER - COPYRIGHT */
.site-footer__copyright-content {
    float: left;
}
.site-footer__copyright-content--powered-by {
    float: right;
}

/* GENERAL */
a {
    word-break: break-word;
}

/* GOOGLE MAPS */
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* HEADERS */
.rte h1:first-child, .rte .h1:first-child, .rte h2:first-child, .rte .h2:first-child, .rte h3:first-child, .rte .h3:first-child, .rte h4:first-child, .rte .h4:first-child, .rte h5:first-child, .rte .h5:first-child, .rte h6:first-child, .rte .h6:first-child {
    margin-top: 0;  
    padding-top: 0;
}
.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 {
  	color: #990000;
}
.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3 {
    border-bottom: 1px solid #788188;
  	clear: both;  
  	margin-top: 0;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 {
  	clear: both;  
  	margin-top: 0;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.rte h1, .rte .h1 {
    padding-top: 40px;
}
h2, .h2 {
    font-size: 1.625em;
}

/* LINK LISTS */
p + ul.link-list, p + ol.link-list {
	margin: -15px 0 20px 20px;
}

div + ul.link-list, div + ol.link-list {
    margin: 5px 0 20px 20px;
}

/* PAGE FILES - FILES TO DOWNLOAD */
.page-files a > img {
    border-bottom: 10px solid white;
    margin-bottom: -7px;
}
.page-files .img-inline {
    display: inline-grid;
    padding: 0 20px 0 20px;
}

/* GENERAL - LISTS */
.cad-files .rte ul, .cad-files .rte ol {
    margin: -20px 0 20px 20px !important;
}

/* BUTTONS */
a.btn.btn--primary {
    margin-top: 15px;
}
a.btn.btn--secondary {
    /* margin-top: 15px; */
}

/* HORIZONTAL RULE */
hr {
    clear: both;
}

/* IMAGES */
img.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
img.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width: 520px) {
	img.alignright {
        float: none;
        margin-left: 0;
      	display: block;
    }
    img.alignleft {
        float: none;
        margin-right: 0;
        display: block;
    }
}

/* LINK - TELEPHONE */
a[href^="tel"] {
    color: #3d4246;
}